<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>http://tt-rss.org/demo/</string>
		<key>Key</key>
		<string>url</string>
		<key>Title</key>
		<string>Tiny RSS Url</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>admin</string>
		<key>Key</key>
		<string>login</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Login</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>password</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Password</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
